body{
    background-color: rgb(113, 113, 110);
}
#name{
    font-size: 40px;
    margin: 0 5%;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    position: static;

}
